services:
  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: PStaskDB
      MYSQL_USER: PStaskUSER
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-u", "PStaskUSER", "-p123456"]
      interval: 5s
      retries: 5

  web:
    build: .
    container_name: django_app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
        db:
          condition: service_healthy
    environment:
      DB_NAME: PStaskDB
      DB_USER: PStaskUSER
      DB_PASSWORD: 123456
      DB_HOST: mysql_db
      DB_PORT: 3306

volumes:
  mysql_data:
